<form class="form-horizontal" role="form">
  
  <input ng-model="project.id" type="hidden" class="form-control" id="projectId">

  <div class="form-group">
    <label for="projectName" class="col-sm-2 control-label">name</label>
    <div class="col-sm-10">
      <input ng-model="project.name" type="text" class="form-control" id="projectName" placeholder="Project name">
    </div>
  </div>

  <div class="form-group">
    <label for="deployments" class="col-sm-2 control-label">deployment / server</label>
    <div class="col-sm-5">
      <select ng-model="activeDeployment" ng-options="deployment.name for deployment in deployments" class="form-control" id="deployments"></select>
    </div>
    
    <div class="col-sm-4">
      <select ng-model="activeServer" ng-options="server.name for server in servers" class="form-control" id="server"></select>
    </div>

    <div class="col-sm-1">
      <button ng-click="deploymentServersAdd()" type="button" class="btn btn-link">add</button>
    </div>
  </div>

   <div class="form-group">
    <label for="deployments" class="col-sm-2 control-label"></label>
    
    <div class="col-sm-10">
      <table>
        <tbody ng-repeat="ds in project.deploymentAndServers">
          <tr>
            <td><span class="xlabel zlabel-default">{{ds.deployment.name}}</span></td>
            <td>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;</td>
            <td><span class="xlabel zlabel-primary">{{ds.server.name}}</span></td>
            <td>
              <button ng-click="deploymentServersRemove($index)" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>  
        </tbody>      
      </table>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="projectUpdate()" type="submit" class="btn btn-primary">Update</button>
      <a type="button" class="btn btn-link" href="#projects">Cancel</a>
      <button ng-click="projectDelete()" type="button" class="btn btn-danger pull-right">Delete</button>
    </div>
  </div>

</form>