<h1 class="page-header">Add new server</h1>
<form class="form-horizontal" role="form">

	<div class="form-group">
		<label for="serverName" class="col-sm-2 control-label">name</label>
		<div class="col-sm-10">
			<input ng-model="server.name" type="text" class="form-control" id="serverName" placeholder="development server">
		</div>
	</div>

	<div class="form-group">
		<label for="serverAddress" class="col-sm-2 control-label">address</label>
		<div class="col-sm-10">
			<input ng-model="server.address" type="text" class="form-control" id="serverAddress" placeholder="127.0.0.1">
		</div>
	</div>

	<div class="form-group">
		<label for="serverAuthMethod" class="col-sm-2 control-label">auth method</label>
		<div class="col-sm-10">
			<select ng-model="server.auth_type" class="form-control" id="serverAuthMethod">
				<option value="0">password</option>
				<option value="1">SSH key</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="serverLogin" class="col-sm-2 control-label">login</label>
		<div class="col-sm-10">
			<input ng-model="server.login" type="text" class="form-control" id="serverLogin" placeholder="admin">
		</div>
	</div>

	<div ng-show="showPassword" class="form-group">
		<label for="serverPassword" class="col-sm-2 control-label">password</label>
		<div class="col-sm-10">
			<input ng-model="server.password" type="text" class="form-control" id="serverPassword" placeholder="admin">
		</div>
	</div>

	<div ng-show="showSSHKey" class="form-group">
		<label for="serverSSHKey" class="col-sm-2 control-label">ssh key</label>
		<div class="col-sm-10">
			<input ng-model="server.ssh_key" type="text" class="form-control" id="serverSSHKey" placeholder="ssh-rsa AAAANzaC1kc3MAAACBAN431nwhJuE5F5HhsTVS7WlSCH1dn/vaPOZQ6WOBvCYIY6k97UkW
XbsLjKIBz2P/jaL2w92U72cUmKiXgVFaxP7LgRylF0UHjFoPfbbesY2isfdHTgGnbmJDOui+RHGNiLl6
f62q0mPIZQxyq6SSyqLD6NiO3IlyrsCSXAerkrdxAAAAFQD7wt2MuZU27cF4oOd6puEcm/jl7wAAAIEA
vQvsiBcgEVvlAIMnZlP2QdO2O96p0wlCoHmKS8WYhwiAEB4QsLypM9ZQ/yG4HO7p9y7gcgo8cyUo/9jd
pOMKAWVJSsujqqH0VBLHZVD5tdBPG4p4i3uws6my2z2AQARMfKN9L/uSmfEi69sDy6JkEah27yOp3zVh
xZInM/hFrVcAAACBAL9K78gikerCL/LFLK4FkQp56drqx2WmubrAuG9SmnPpRQR5SNoA6lYI3CRttLHT
540XW0PYDz53NnBc3C3/v3EE4nokyyUw783mWKbAbI6+jtibViUhfJwbi7xLB2TVyeWMBeHArsxkfHyO
zFyjC4Db4UrmU71tYQfOlzmIipf7">
		</div>
	</div>

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button ng-click="createServer()" type="submit" class="btn btn-primary">Add server</button>
	      <a type="button" class="btn btn-link" href="#projects">Cancel</a>
	    </div>
  </div>

</form>