<h1 class="page-header">Server <small>{{server.name}}</small></h1>
<form class="form-horizontal" role="form">

	<input ng-model="server.id" type="hidden" />

	<div class="form-group">
		<label for="serverName" class="col-sm-2 control-label">name</label>
		<div class="col-sm-10">
			<input ng-model="server.name" type="text" class="form-control" id="serverName" placeholder="development server">
		</div>
	</div>

	<div class="form-group">
		<label for="serverAddress" class="col-sm-2 control-label">address</label>
		<div class="col-sm-10">
			<input ng-model="server.address" type="text" class="form-control" id="serverAddress" placeholder="127.0.0.1">
		</div>
	</div>

	<div class="form-group">
		<label for="serverAuthMethod" class="col-sm-2 control-label">auth method</label>
		<div class="col-sm-10">
			<select ng-model="server.auth_type" class="form-control" id="serverAuthMethod">
				<option value="0">password</option>
				<option value="1">SSH key</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="serverLogin" class="col-sm-2 control-label">login</label>
		<div class="col-sm-10">
			<input ng-model="server.login" type="text" class="form-control" id="serverLogin" placeholder="admin">
		</div>
	</div>

	<div ng-show="showPassword" class="form-group">
		<label for="serverPassword" class="col-sm-2 control-label">password</label>
		<div class="col-sm-10">
			<input ng-model="server.password" type="text" class="form-control" id="serverPassword" placeholder="admin">
		</div>
	</div>

	<div ng-show="showSSHKey" class="form-group">
		<label for="serverSSHKey" class="col-sm-2 control-label">ssh key</label>
		<div class="col-sm-10">
			<select ng-model="server.ssh_key_id" ng-options="key.id as key.name for key in sshkeys" type="text" class="form-control" id="serverSSHKey" ></select>
		</div>
	</div>

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button ng-click="serverUpdate()" type="submit" class="btn btn-primary">Update server</button>
	      <a type="button" class="btn btn-link" href="#projects">Cancel</a>
	      <button ng-click="serverDelete()" type="button" class="btn btn-danger pull-right">Delete</button>
    </div>
  </div>

</form>